/*меню кнопки*/
.button-two{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em; 
    text-align: center; 
    border: 0;
    border-radius: 5px;
    padding: 6px 22px;
    margin-left: 8px;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
/*активна кнопка*/
&:hover,
&:focus{
  background: #2196f3;
  color:#ffffff;
  box-shadow: 2px 3px 3px rgba(0,0,0,0.12),
  3px 3px 4px rgba(0,0,0,0.14), 3px 3px 4px rgba(0,0,0,0.2);
  cursor: pointer;
  }
}