/*команда*/
.people {
    display: flex;
   column-gap: 30px;
   margin-top: 50px;
   
   }
 
   .teams{
     font-weight: 700;
     font-size: 36px;
     line-height: 1.16;
     letter-spacing: 0.03em;
     text-align: center;
     padding-top: 94px;
     padding-bottom: 94px;
     background: #F5F4Fa;
   }
 
   .team{
     font-weight: 500;
     font-size: 16px;
     line-height: 1.18;
     letter-spacing: 0.03em; 
     margin-bottom: 10px;  
 }
 
 .team-one{
     font-weight: 400;
     font-size: 16px;
     line-height: 1.18;
     letter-spacing: 0.03em;
     color:#757575;  
     margin-bottom: 16px;
 }
 
 .tm1{
    padding-top:30px;
    padding-bottom: 30px;
    text-align: center;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.12),
   0px 1px 1px rgba(0,0,0,0.14), 0px 2px 1px rgba(0,0,0,0.2);
   border-radius: 0px 0px 4px 4px;
   background-color: #ffffff;
    
   }
   
   .tm-soc-list{
     display: flex;
     justify-content: center;
     gap: 10px; 
     
   }
 
   .tm-soc-link{
     width:44px ;
     height:44px ;
     border-radius: 50%;
     background-color: #ffffff;
     display: flex;
     align-items: center;
     justify-content: center;
     cursor: pointer;
     transition-property:background-color;
     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   &:hover,
   &:focus{
     background-color: #2196f3;
   }
       }
 
       .tm-soc-icon{
        fill:#AFB1b8;
 .tm-soc-link:hover &,
 .tm-soc-link:focus &{
   fill:#ffffff;
 }
}
   
 